
body{
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    display: flex;
    flex-flow: column;
    border: black 1px  solid;
    width: 15vw;
    height: 70vh;
}


#thickLine{
   
    top: 0px;
    margin-top: 0%;
    border: none;
    height: 12px;
    background: black;
    margin-bottom: 0px;
    width: 95%;
}

#h1_1{

    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 2%;
}

#p_1{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 13px;
    margin-left: 2%;
}

#p_right{
    margin-top: 0%;
    margin-bottom: 0%;
    
    
    font-size: 12px;
    font-weight: 800;
    margin-right: 2%;
}

.flex{

    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;

}

#shortline{
    top: 0px;
    margin-top: 0%;
    border: none;
    height: 1px;
    background: black;
    margin-bottom: 0px;
    width: 95%;
}


